<launch>
  <!--
  	This pushes the local PYTHONPATH into the launch file, so that the NaoQI API is found.
    You need to add the Nao's API dir to your PYTHONPATH so that the modules are found.
  -->
  <env name="PYTHONPATH" value="$(env PYTHONPATH)" />

  <arg name="nao_ip" default="$(optenv NAO_IP 10.152.246.147)" />
  <arg name="nao_port" default="$(optenv NAO_PORT 9559)" />

  <node pkg="nao_control_tutorial_3" type="nao_3" name="nao_3" output="screen"/>
  <include file="$(find nao_apps)/launch/speech.launch"/>
  <include file="$(find nao_apps)/launch/tactile.launch"/>
  <include file="$(find nao_apps)/launch/leds.launch"/>



</launch>
